<div class="col-md-6 blog-item">
	<h3><a href="#">{{title}}</a></h3>
	<div class="image-wrapper">
		<img src="{{assets}}images/{{image}}.svg" class="img-responsive" style="margin-bottom: 15px">
	</div>

	<p>
		{{perex}} Donec eu nulla eget neque consectetur tempus. Phasellus et
		urna pharetra, pulvinar nibh feugiat, cursus neque.
	</p>

	<a href="#" class="button">3 min read</a>
</div>