<div class="row timeline-item">
	<div class="col-md-4 header">
		<div class="image">
			<img src="{{assets}}images/{{image}}.svg">
		</div>
		<div class="date">
			<div>{{date}}</div>
		</div>
	</div>
	<div class="col-md-8">
		<h4>Brzy po návratu z Anglie jsem začal svoji půlroční stáž v pražské partě Scholz &
			Friends</h4>

		<p>
			"Matouš proved to be a talented young copywriter helping us on creative concepts
			for our clients in both Czech and English. Matouš is hard working, easy going,
			conscientious and reliable. He was a valuable asset in our team."
		</p>

		<p class="pull-right"><em>Tomáš Kopečný (Managing Director at S&F)</em></p>
	</div>
</div>