<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		{{default title page.basename}}
	</title>
	<link href="{{assets}}styles/styles.css" rel="stylesheet"/>
</head>
<body>
	{{> body }}
	<script src="{{assets}}scripts/scripts.js"></script>
</body>
</html>