@import url(http://fonts.googleapis.com/css?family=Forum&subset=latin,latin-ext);
@import "bootstrap";

@font-size-base: 20px;
@font-family-sans-serif: "Forum";
@line-height-base: 1.6;
@navbar-height: 120px;
@navbar-default-bg: #FFFFFF;
@link-color: #000000;
@input-border-radius: 0;
@screen-md: 960px; // include Nexus 7 landscape

/** Input Placeholder */
.placeholder(@color: #ccc) {
  input::-webkit-input-placeholder {
    color: @color;
  }
  input:-moz-placeholder {
    color: @color;
  }
  textarea::-webkit-input-placeholder {
    color: @color;
  }
  textarea:-moz-placeholder {
    color: @color;
  }
}

/** Common styles */
body {
  padding-top: @navbar-height;
}
h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
  color: black;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
p {
  text-align: justify;
}
.button {
  border: 1px solid black;
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }
}
.button-inverse {
  background-color: black;
  color: white;
  border-color: white;

  &:hover {
    background-color: inherit; // for the colorful jumbotrons
    color: inherit;
  }
}
.justifyright {
  text-align: right;
}
.button-cv {
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
}
.anchor {
  // Because of the fixed navbar anchoring doesn't really work (anchor ends up behind the navbar).
  // We use this little trick to get around that.
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

/** Helper size indicator */
.size-indicator {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  z-index: 9999;

  @media (max-width: @screen-xs-max) {
    background-color: green;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    background-color: #00a200;
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    background-color: #00be00;
  }
  @media (min-width: @screen-lg-min) {
    background-color: #00f200;
  }
}
.size-indicator:before {
  content: "default";

  @media (max-width: @screen-xs-max) {
    content: "xs (phone)";
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    content: "sm (tablet)";
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    content: "md (desktop)";
  }
  @media (min-width: @screen-lg-min) {
    content: "lg (large desktop)";
  }
}

/** With separator (nice separator in the middle) */
.with-separator {
  background: url(../images/separator-black.svg) no-repeat center center;
  background-size: auto 50%;
}
.with-horizontal-separator {
  background: url(../images/separator-horizontal-white.svg) no-repeat center center;
  background-size: auto 100%;
}

/** Navbar */
.navbar {
  border-bottom: 2px solid black;
  background-color: white;
}
.navbar-header {
  float: none;
}
.navbar-button {
  .navbar-brand;
  height: @navbar-height;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-button:focus {
  outline: 0;
}
.navbar-button::before { // workaround for vertically centered logo
  content: "";
  display: block;
}
.navbar-button-logo {
  float: left;
  margin-top: 0;
  margin-bottom: 0;

  &::before {
    height: 20%;
  }
  span {
    display: none;
  }
  img {
    height: 60%;
  }
}
.navbar-button-toggle {
  float: right;

  &::before {
    height: 35%;
  }
  img {
    height: 30%;
  }
}
.navbar-button-lang {
  float: right;

  &::before {
    height: 35%;
  }
  img {
    height: 30%;
  }
}
.mynavbar {
  padding: 0;
  margin: 0;
  clear: both;

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
  }
  a:hover, a:active, a:focus {
    background-color: #f3f3f3;
  }
}

/** JUMBOTRONS */
.jumbotron {
  color: black;
  background-color: white;

  p {
    font-size: 1.01 * @font-size-base;
  }

  h2:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  &.no-margin {
    margin-bottom: 0;
  }

  &.jumbotron-inverse {
    background-color: black;
    color: white;

    a, p, h1, h2, h3 {
      color: white;
    }
  }
}

/** Greedy Jumbotron (that covers whole viewport) */
.greedy-jumbotron {
  height: 100vh;
  max-height: 1080px; /* for extremely large displays, like iMac */
  margin-top: -@navbar-height;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;

  &> .container, &> .container > .row {
    height: 100%;
  }
}
.greedy-jumbotron-column {
  height: 100%;
  padding-top: @navbar-height;
  box-sizing: border-box;

  &.single-heading {
    height: 100%;
    width: 100%;
    display: table;

    .single-heading-cell {
      display: table-cell;
      vertical-align: middle;

      & > div {
        margin: 0 auto;
        text-align: center;
        max-width: 720px;
        font-size: 65px;
        text-transform: uppercase;

        @media (max-width: @screen-xs-max) {
          font-size: 40px;
        }
        @media (max-width: @screen-xs-min) {
          font-size: 35px;
        }
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  .greedy-jumbotron {
    padding-top: @navbar-height;
    min-height: 480px;
    max-height: none;
  }
  .greedy-jumbotron-column {
    padding-top: 0;
    min-height: 0;
    display: table-cell;
    height: 50%;
  }
}


/** Jumbotron Matty */
.jumbotron-matty {
  background-color: #ffffff;
  overflow: hidden;
}
.matty-heading-column {
  display: table;
  float: right;
}
.matty-heading {
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
  text-transform: uppercase;

  .with-separator {
    background-size: auto 80%;
    background-position: left center;
    margin-left: -40px;
    padding-left: 40px;
    z-index: 1; // put the separator in front of mattys face
    position: relative;
    width: 6em;
  }
}
.matty-image-column {
  display: table;
  padding-top: @navbar-height + 20px; // add space between the navbar and Matty's face
}
.matty-image {
  margin-top: 20px;
  display: table-cell;
  background: transparent url(../images/matty.jpg) no-repeat center bottom;
  background-size: contain;
  position: relative;
}
.matty-image-blink-left, .matty-image-blink-right {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.matty-image-blink-left {
  background: transparent url(../images/matty-blink-left.gif) no-repeat center bottom;
  background-size: contain;
}
.matty-image-blink-right {
  background: transparent url(../images/matty-blink-right.gif) no-repeat center bottom;
  background-size: contain;
}
.matty-image-holder {
  position: absolute;
  bottom: 0;
  // center it
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.matty-image-face {
  // values based on the actual image layout
  width: 44%;
  height: 56%;
  margin-left: 31%;
}

@media (max-width: @screen-sm-max) {
  .matty-heading-column {
    float: none;
    width: 100%;
    height: 40%;
  }
  .matty-heading {
    text-align: center;

    .with-separator {
      background: url(../images/separator-horizontal-black.svg) no-repeat bottom center;
      margin: 0;
      padding: 0 0 1em;
      background-size: 30% auto;
      width: 100%;
    }
  }
  .matty-image-column {
    padding-top: 0;
    width: 100%;
    height: 60%;
  }
  .matty-image {
    margin: 0;
  }
}
@media (max-width: @screen-xs-max) {
  .matty-heading {
    font-size: 40px;
  }
}
@media (max-width: @screen-xs-min) {
  .matty-heading {
    font-size: 35px;
  }
}

/** Jumbotron Matty inverse */
.jumbotron-matty-inverse {
  background-color: #000000;

  .matty-heading {
    color: white;
  }
  .matty-heading .with-separator {
    background-image: url(../images/separator-white.svg);
  }
  .matty-image {
    background: transparent url(../images/matty-inverse.jpg) no-repeat center bottom;
    background-size: contain;
  }
  .matty-image-blink-left {
    background: transparent url(../images/matty-inverse-blink-left.gif) no-repeat center bottom;
    background-size: contain;
  }
  .matty-image-blink-right {
    background: transparent url(../images/matty-inverse-blink-right.gif) no-repeat center bottom;
    background-size: contain;
  }
  .matty-image-face {
    // values based on the actual image layout
    width: 40%;
    height: 53%;
    margin-left: 31%;
    margin-top: 5%;
  }
  @media (max-width: @screen-sm-max) {
    .matty-heading .with-separator {
      background: url(../images/separator-horizontal-white.svg) no-repeat bottom center;
    }
  }
}

/** Client banners */
.client-banner {
  // border: 1px solid black;
  margin: 15px 0;
  display: table;
  height: 220px;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 28px;
  background: white url(../images/separator-black.svg) no-repeat center center;
  background-size: auto 70%;

  .wrap {
    width: 110px;
    height: 90px;
    display: inline-block;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .white {
    display: none;
  }
  .black {
    display: inline-block;
  }
  &:hover, &:active {
    color: white;
    text-decoration: none;
    background: transparent url(../images/separator-white.svg) no-repeat center center;
    background-size: auto 70%;

    .white {
      display: inline-block;
    }
    .black {
      display: none;
    }
  }
}
.client-banner-logo, .client-banner-words {
  width: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.client-banner-words .wrap div {
  height: 100%;
  display: table;
  vertical-align: middle;

  div {
    display: table-cell;
  }
}

/** Mind challenges (boxes) */
.mind-challenge {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  p {
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
  }

  .drawing {
    position: relative;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 30px auto;
  }
}

/** Timeline */
.timeline-item {
  margin-top: 60px;
  margin-bottom: 60px;

  h4 {
    margin-top: 0;
  }
  .header {
    .clearfix;
    margin-bottom: 30px;

    .image {
      width: 50%;
      height: 120px;
      float: left;
      display: table-cell;
      vertical-align: middle;

      img {
        max-width: 120px;
        width: 100%;
        height: 100%;
      }
    }
    .date {
      width: 50%;
      float: right;

      > div {
        max-width: 120px;
        height: 120px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;
        padding: 20px;
        font-size: @font-size-base * 1.1;
        border: 1px solid black;

        @media (max-width: @screen-sm-max) {
          float: right;
        }
      }
    }
  }
}

/** Contact form */
.contact-form {
  padding-top: 15px;
  padding-bottom: 30px;

  .form-control {
    .placeholder(white);
    border: 2px solid white;
    background-color: black;
    color: white;
  }
  button {
    width: 100%;
    display: block;
    border-radius: 0;
  }
}

/** Footer */
.footer {
  margin-top: 30px;

  .row {
    margin-top: 30px;
  }
  .list-inline li {
    margin: 10px 0;
  }
}
.footer-separator {
  height: 15px;
  margin: 30px 0;
}
.footer-cellphone {
  font-size: 40px;
  text-align: center;
}
.footer-email {
  font-size: 30px;
  text-align: center;
  display: block;
}
.footer-copyright {
  margin-bottom: 30px;
  text-align: center;
}
p.footer-info {
  text-align: center;
  font-size: @font-size-base;
}

/** Blog Tag Cloud */
.tag-cloud {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 30px 0;
  text-align: center;

  ul {
    .list-inline;
    margin: 0;

    li {
      padding: 5px 0;
    }
    li::after {
      content: ' |';
    }
    li:last-of-type::after {
      content: '';
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: @font-size-base * 1.1;
    margin: 0 15px;

    &:hover {
      text-decoration: underline;
    }
    &.active {
      background-color: black;
      color: white;
    }
  }
}

/** Blog Item */
.blog-item {
  .image-wrapper {
    background-color: black;
    height: 250px;
    padding: 40px;
    margin-bottom: 15px;
    box-sizing: border-box;

    img {
      margin: 0 auto;
      height: 100%;
    }
  }
  .blog-readtime {
    text-transform: uppercase;
  }
  .blog-share-buttons {
    text-align: center;
    margin: 30px 0;
  }
  .blog-share-buttons a {
    .button;
    .button-inverse;
    display: inline;
    padding: 4px;
    margin: 0 4px;
  }
  .blog-perex {
    font-size: @font-size-base * 1.2;
  }
}

/** Case study */
@case-study-jumbotron-min-height: 650px;

.case-study-jumbotron {
  min-height: @case-study-jumbotron-min-height;

  .greedy-jumbotron-column {
    display: table;
    min-height: @case-study-jumbotron-min-height;

    .cell {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
  }

  @media (max-width: @screen-sm-max) {
    padding-top: @navbar-height;
    height: auto !important; // an ugly way to override the JavaScript, wasn't able to find better one

    .greedy-jumbotron-column {
      height: auto !important;
    }
  }

  @media (max-width: @screen-xs-max) {
    .greedy-jumbotron-column {
      width: 100%; // stretch the container even when there is no content
    }
  }


  h2 {
    font-size: 50px;
    margin: 30px 0;
  }
  ul {
    padding: 0;

    li {
      list-style-type: none;
      border-top: 1px solid black;
      padding: 5px 0;
    }
    li:last-of-type {
      border-bottom: 1px solid black;
    }
  }
  .button {
    margin-bottom: 30px;
  }

  &.jumbotron-inverse {
    h2, h3, p {
      color: white;
    }
    ul li {
      border-color: white;
    }
    .button {
      border-color: white;
    }
    .button:hover {
      background-color: white;
      color: #000000;
    }
  }
}

/** Image container */
.image-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  img {
    max-width: 100%;
  }
  p {
    text-align: center;
  }
}

/** Video container */
.video-container {
  // Nice trick to stretch the video to 100% and keep the 16:9 aspect ratio
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  &> div {
    position: relative;
    padding-bottom: 56%;
    height: 0;

    &> iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/** Highlight components */
/*
.container {
  box-shadow: 0 0 15px #276ac5;
}
.col-md-6 {
  box-shadow: 0 0 10px #2cac41;
}
.matty-image-holder {
  box-shadow: 0 0 10px #ff4656;
}
.matty-image-face {
  box-shadow: 0 0 10px #ff2daf;
}
*/