@import url(http://fonts.googleapis.com/css?family=Forum&subset=latin,latin-ext);
@import "bootstrap";

@font-size-base: 20px;
@font-size-h1: floor((@font-size-base * 2.8));
@font-size-h2: floor((@font-size-base * 2.5));
@font-size-h3: floor((@font-size-base * 1.9));
@font-family-sans-serif: "Forum";
@navbar-height: 120px;
@navbar-default-bg: #FFFFFF;
@link-color: #000000;
@input-border-radius: 0;

.placeholder(@color: #ccc) {
  input::-webkit-input-placeholder {
    color: @color;
  }
  input:-moz-placeholder {
    color: @color;
  }
  textarea::-webkit-input-placeholder {
    color: @color;
  }
  textarea:-moz-placeholder {
    color: @color;
  }
}

body {
  padding-top: @navbar-height;
}
h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
}
a {
  text-decoration: underline;
}

/** With separator (nice separator in the middle) */
.with-separator {
  background: url(../images/separator-black.svg) no-repeat center center;
  background-size: auto 50%;
}
.with-horizontal-separator {
  background: url(../images/separator-horizontal-white.svg) no-repeat center center;
  background-size: auto 100%;
}

/** Navbar */
.navbar {
  border-bottom: 2px solid black;
  background-color: white;
}
.navbar-header {
  width: 100%;
}
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand img {
  height: @navbar-height - 50;
}
.navbar-menu-toggle {
  background: none;
  border: 0;
  height: @navbar-height;
  float: right;
}
.navbar-menu-toggle img {
  height: @navbar-height - 85;
}
.mynavbar {
  padding: 0;
  margin: 0;
  clear: both;
}
.mynavbar li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mynavbar a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}
.mynavbar a:hover, .mynavbar a:active, .mynavbar a:focus {
  background-color: #f3f3f3;
}

/** JUMBOTRONS */
.jumbotron.no-margin {
  margin-bottom: 0;
}

/** Greedy Jumbotron (that covers the viewport */
@greedy-jumbotron-min-height: 550px;

.greedy-jumbotron {
  height: 100vh;
  min-height: @greedy-jumbotron-min-height;
  margin-top: -@navbar-height;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}
.greedy-jumbotron-column {
  height: 100vh;
  min-height: @greedy-jumbotron-min-height;
  padding-top: @navbar-height;
  box-sizing: border-box;
}

/** Jumbotron black */
.jumbotron-black {
  background-color: black;
  color: white;
}
.jumbotron-black a  {
  color: white;
}

/** Jumbotron Matty */
.jumbotron-matty {
  background-color: #ffffff;
}
.jumbotron-matty .greedy-jumbotron-column {
  display: table;
}
.matty-heading {
  display: table-cell;
  vertical-align: middle;
  font-size: 70px;
  text-transform: uppercase;
}
@media (max-width: @screen-xs-max) {
  .matty-heading {
    font-size: 20px;
  }
}
.matty-heading .with-separator {
  background-size: auto 80%;
  background-position: left center;
  margin-left: -40px;
  padding-left: 40px;
}
.matty-image-column {
  padding-top: @navbar-height + 20px; // add space between the navbar and Matty's face
}
.matty-image {
  margin-top: 20px;
  display: table-cell;
  background: transparent url(../images/matty.jpg) no-repeat center bottom;
  background-size: contain;
  position: relative;
}
.matty-image-blink-left, .matty-image-blink-right {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.matty-image-blink-left {
  background: transparent url(../images/matty-blink-left.gif) no-repeat center bottom;
  background-size: contain;
}
.matty-image-blink-right {
  background: transparent url(../images/matty-blink-right.gif) no-repeat center bottom;
  background-size: contain;
}
.matty-image-holder {
  position: absolute;
  bottom: 0;
  // center it
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.matty-image-face {
  // values based on the actual image layout
  width: 44%;
  height: 56%;
  margin-left: 31%;
}

/** Client banners */
.client-banner {
  margin: 15px 0;
  display: table;
  height: 220px;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 30px;
  background: white url(../images/separator-black.svg) no-repeat center center;
  background-size: auto 70%;
}
.client-banner:hover {
  color: white;
  text-decoration: none;
  background: #de342e url(../images/separator-white.svg) no-repeat center center;
  background-size: auto 70%;
}
.client-banner-logo, .client-banner-words {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.client-banner-words {
  padding: 10%;
}
.client-banner-logo img {
  width: 40%;
  height: 40%;
}

/** Contact form */
.contact-form .form-control {
  .placeholder(white);
  border: 2px solid white;
  background-color: black;
  color: white;
}
.contact-form button {
  width: 100%;
  display: block;
  border-radius: 0;
}

/** Footer */
.footer {
  margin-top: 30px;
}
.footer .row {
  margin-top: 30px;
}
.footer-separator {
  height: 15px;
  margin: 30px 0;
}
.footer-cellphone {
  font-size: 50px;
  text-align: center;
}
.footer-email {
  font-size: 30px;
  text-align: center;
  display: block;
}
.footer-copyright {
  margin-bottom: 30px;
  text-align: center;
}
p.footer-info {
  text-align: center;
  font-size: @font-size-base;
}

/** Highlight components */
/*
.container {
  box-shadow: 0 0 15px #276ac5;
}
.col-md-6 {
  box-shadow: 0 0 10px #2cac41;
}
.matty-image-holder {
  box-shadow: 0 0 10px #ff4656;
}
.matty-image-face {
  box-shadow: 0 0 10px #ff2daf;
}
*/
