---
title: See Word Power 3 About
---

<div class="jumbotron jumbotron-matty jumbotron-matty-inverse greedy-jumbotron no-margin">
	<div class="container">
		<div class="row">

			<!-- Matty heading -->
			<div class="col-md-6 greedy-jumbotron-column matty-heading-column">
				<div class="matty-heading">
					<div class="with-separator">
						I collect stories
					</div>
				</div>
			</div>

			<!-- Matty image -->
			<div class="col-md-6 greedy-jumbotron-column matty-image-column">
				<div class="matty-image">
					<div class="matty-image-blink-left"></div>
					<div class="matty-image-blink-right"></div>
					<div class="matty-image-holder">
						<div class="matty-image-face"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<h2>I write for those who want to be seen</h2>

		<div class="row">
			<div class="col-md-6">
				<p>
					This is my third online portfolio. It took me 3 years to get to this stage.
					During
					this time I almost finished I studies in college, went to England to study for
					real,
					cooked a lot of meals, met a ot of people, became freelance and worked for two
					agencies, wrote over 100 000 words, worked on 25+ projects... Heck, I even went
					on a
					Eurotrip and visited 27 cities in 22 days. By train. And much more. What I can
					show
					you, are some pieces of the journey of how I got here.
				</p>
			</div>
			<div class="col-md-6">
				<img src="{{assets}}images/map.svg" class="img-responsive" style="margin: 0 auto;
			max-height: 225px"/>
			</div>
		</div>

		<a href="#" class="cv-button">Stáhněte si moje CV</a>

	</div>
</div>


<div class="jumbotron jumbotron-inverse">
	<div class="container">
		<h2>Čím provokuju svoje myšlenky</h2>
		<div class="row">
			{{#withHash image="drawing-pan" label="V kuchyni jsem často víc než u počítače"}}
				{{> mind-challenge}}
			{{/withHash}}

			{{#withHash image="drawing-bed" label="Dřív, než si splním svoje sny, nechám si je zdát"}}
				{{> mind-challenge}}
			{{/withHash}}
		</div>

		<div class="row">
			{{#withHash image="drawing-shower" label="Koukali byste, co mi ve sprše teče z hlavy za nápady."}}
				{{> mind-challenge}}
			{{/withHash}}

			{{#withHash image="drawing-tram" label="Auto nemám. Stačí mi tramka"}}
				{{> mind-challenge}}
			{{/withHash}}
		</div>

		<div class="row">
			{{#withHash image="drawing-movie" label="Ahoj, jsem Matouš a jsem závislák na filmech."}}
				{{> mind-challenge}}
			{{/withHash}}

			{{#withHash image="drawing-excercise" label="Na fitko moc nejsem. Ale i tak rád protahuju svoje křivky."}}
				{{> mind-challenge}}
			{{/withHash}}
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<h2>Za poslední 3 roky jsem napsal více než 300 000 copy-slov</h2>

		{{#withHash image="febio-black" date="zaří 2011"}}
			{{> timeline-item}}
		{{/withHash}}

		{{#withHash image="urc-black" date="červenec 2012"}}
			{{> timeline-item}}
		{{/withHash}}

		{{#withHash image="deimos-black" date="september 2012"}}
			{{> timeline-item}}
		{{/withHash}}

		{{#withHash image="dpd-black" date="leden 2013"}}
			{{> timeline-item}}
		{{/withHash}}

		</div>
	</div>
</div>
