---
title: Sample case study
---

<div class="jumbotron greedy-jumbotron no-margin case-study-jumbotron" style="background-color: #96c21f">
	<div class="greedy-jumbotron-column container">

		<div class="cell">
			<h2>My first peek inside logistics</h2>

			<div class="row">
				<div class="col-md-6">
					<p>
						This is my third online portfolio. It took me 3 years to get to this
						stage. During this time I almost finished I studies in college, went
						to
						England to study for real, cooked a lot of meals, met a ot of
						people,
						became freelance and worked for two agencies, wrote over 100 000
						words,
						worked on 25+ projects..
					</p>

					<p>
						Heck, I even went on a Eurotrip and visited 27 cities in 22 days. By
						train. And much more. BlaLong story short all had a big impact on my
						work.BlaLong story short all had a big impact on my work. BlaLong
						story
						short all had a big impact on my work.
					</p>
				</div>

				<div class="col-md-6">
					<ul>
						<li>Client: Logio</li>
						<li>Industry: Logistics</li>
						<li>Created: 2013</li>
						<li>Agency: Hrivnak</li>
						<li>Copywriting: Matouš Roskovec</li>
						<li>Art Direction: Dima Strapchev</li>
					</ul>

					<a href="#" class="button button-inverse">
						Download the Case
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="image-container">
		<img src="{{assets}}images/case-study-1.png">
	</div>
</div>
