---
title: See Word Power 3
---

<div class="jumbotron jumbotron-matty greedy-jumbotron no-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-6 greedy-jumbotron-column matty-image-column">
				<div class="matty-image">
					<div class="matty-image-blink-left"></div>
					<div class="matty-image-blink-right"></div>
					<div class="matty-image-holder">
						<div class="matty-image-face"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 greedy-jumbotron-column">
				<div class="matty-heading">
					<div class="with-separator">
						Your<br>
						Future<br>
						Copywriter
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron jumbotron-black">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Don't look here for the final result</h2>
				<p>
					This is my third online portfolio. It took me 3 years to get to this stage.
					During this time I almost finished I studies in college, went to England to
					study for real, cooked a lot of meals, met a lot of people, became freelance and
					worked for two agencies, wrote over 100 000 words, worked on 25+ projects...
					Heck, I even went on a Eurotrip and visited 27 cities in 22 days. By train. And
					much more.
				</p>
				<p>
					Long story short all had a big impact on my work. I cannot show you what I
					became. My life and my work as a copywriter teaches me everyday. It changes me.
					It develops my skills. What I can show you, are some pieces of the journey of
					how I got here.
				</p>
			</div>
		</div>
	</div>
</div>